*{
  margin: 0px;
  padding: 0px;
}
#root{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.flex_box_col{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

